@import "../../../../../index";

.pop_up__album__delete {
  color: $white;
  background-color: $Colour-CC-3-rgba;
  position: absolute;
  height: 160px;
  max-width: 440px;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: calc(50% - 420px/2);
  top: calc(50% - 100px /2);
  z-index: 10;
  box-shadow: 0 0 5px $Colour-CC-2-rgba;
  border-radius: 5px;
}

.pop_up__album__btn__group {
  margin: 10px;
  & button:first-child {
    margin-right: 10px;
  }
}