@import "../../index";

.home__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 30px 20px;
  text-align: center;
  color: $white;
  max-width: 400px;
  max-height: 500px;
  background-color: $Colour-CC-2-rgba;
  border-radius: 5px;
  box-shadow: 1px 1px 30px $Colour-CC-1-rgba;
}


.home__after__login {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 20px;
  text-align: center;
  color: $white;
  width: 400px;
  background-color: $Colour-CC-2-rgba;
  border-radius: 5px;
  box-shadow: 1px 1px 30px $Colour-CC-1-rgba;
}

.btn__link {
  width: 100%;
}