@import "../../../../../index";

.slider__container {
  user-select: none;
  scroll-behavior: auto;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 100px rgba(0, 0, 0, 1);
  z-index: 10;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 600px;
  margin-bottom: 20px;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 600px;

  & img {
    max-width: 100%;
    max-height: 100%;
  }
}

.slider__preview {
  display: flex;
  width: 80%;
  max-height: 140px;
  gap: 10px;
  overflow-x: auto;
  align-items: center;

  &::-webkit-scrollbar {
    background-color: $Colour-CC-1-opacity;
  }

  &::-webkit-scrollbar-track &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $Colour-CC-5-rgba;
    border-radius: 3px;
    height: 50px;
  }
}

.slider__preview__image {
  cursor: pointer;
  box-shadow: 2px 4px 10px $Colour-CC-1-rgba;
  margin-bottom: 10px;
  transition: $fast;

  & img {
    max-width: 100px;
    max-height: 80px;
  }
}

.slider__preview__image__active {
  box-shadow: 0 0 10px $Colour-CC-5-rgba;
  border: $Colour-CC-5-rgba 3px solid;
}

.slider__btn__close {
  margin: auto;
  position: absolute;
  right: 2%;
  top: 2%;
  text-align: center;
  align-items: center;

  & button {
    transition: $fast;
    background-color: transparent;
    color: rgba(250, 250, 250, 0.5);
    font-size: 30px;
    outline: none;
    border: none;
  }

  & button:hover {
    transform: scale(1.1);
    color: rgba(250, 250, 250, 1);
    text-shadow: 0 0 4px white;
  }
}

.slider__image__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  z-index: 10;
  position: fixed;
  right: 300px;
  top: 20px;
  & .slider__image__info__text {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 20px;
    color: $white;
  }
  & .slider__image__info__text div:first-child {
    margin-right: 20px;
    width: 100px;
  }

  & .slider__image__info__btn button {
    width: 100%;
  }
}

