@import "../../../index";

.menu__container {
  display: flex;
  font-size: 20px;
  flex-direction: column;
  text-align: center;
  background-color: $Colour-CC-2-rgba;
  color: $white;
  padding: 20px 30px;
  position: absolute;
  max-width: 500px;
  left: calc(50% - 500px / 2);
  top: 30%;
  border-radius: 5px;
  box-shadow: 1px 1px 30px $Colour-CC-1-rgba;
}