@import "../../index";

.gallery__container {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.gallery__btn__right_side {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;

  & button {
    font-size: 20px;
    box-shadow: 0 0 10px $Colour-CC-1-opacity;
  }
}

.gallery__btn__chose_files {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  transition: $middle;

  & button {
    font-size: 20px;
    box-shadow: 0 0 10px $Colour-CC-1-opacity;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 8;
  }

  & button input {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}