@import "../../index";

.login {
  background-color: $Colour-CC-2-rgba;
  border-radius: 5px;
  width: 300px;
  padding: 20px 30px;
  box-shadow: 1px 1px 30px $Colour-CC-1-rgba;
}

.login__form {

  display: flex;
  flex-direction: column;

  & .label {
    color: $white;
  }
}


.btn__link__registration {
  width: 100%;
}